{
    "machines": {
	"thinkpad_r400": {
	    "name": "Lenovo Thinkpad R400",
	    "config": "lenovo_thinkpad_r400.json",
	    "capabilities": {
		"UEFI": false,
		"BIOS": true,
		"TXT": true,
		"audio": true,
		"serial": true,
		"video": true,
		"TPM1.2": true
	    }
	},
	"elitedesk_800": {
	    "name": "HP EliteDesk 800 G2",
	    "config": "hp_elitedesk_800_g2.json",
	    "capabilities": {
		"UEFI": true,
		"BIOS": false,
		"TXT": true,
		"audio": false,
		"serial": true,
		"video": true,
		"TPM2": true
	    }
	}
    },
    "templates": {
        "debian_10_bios": {
	    "description": "Debian 10, configured to boot with BIOS",
	    "image": "/srv/baremetal/templates/baremetal_template_debian_stable_bios.img.lzo"
	},
        "debian_10_uefi": {
	    "description": "Debian 10, configured to boot with UEFI",
	    "image": "/srv/baremetal/templates/baremetal_template_debian_stable_bios.img.lzo"
	},
        "debian_unstable_bios": {
	    "description": "Debian unstable, configured to boot with BIOS",
	    "image": "/srv/baremetal/templates/baremetal_template_debian_unstable_bios.img.lzo"
	},
        "debian_unstable_uefi": {
	    "description": "Debian unstable, configured to boot with UEFI",
	    "image": "/srv/baremetal/templates/baremetal_template_debian_unstable_bios.img.lzo"
	}
    }
}
