{
    "machines": {
	"thinkpad_r400": {
	    "name": "Lenovo Thinkpad R400",
	    "config": "lenovo_thinkpad_r400.json",
	    "capabilities": {
		"UEFI": false,
		"BIOS": true,
		"TXT": true,
		"audio": true,
		"serial": true,
		"video": true,
		"TPM1.2": true
	    }
	},
	"elitedesk_800": {
	    "name": "HP EliteDesk 800 G2",
	    "config": "hp_elitedesk_800_g2.json",
	    "capabilities": {
		"UEFI": true,
		"BIOS": false,
		"TXT": true,
		"audio": false,
		"serial": true,
		"video": true,
		"TPM2": true
	    }
	}
    }
}
