[Unit]
Description=Download baremetal-agent from test monitor and execute it

[Service]
Type=forking
ExecStart=/usr/local/bin/baremetal-agent-downloader

[Install]
WantedBy=multi-user.target

